[submodule "static/forkphorus"]
	path = static/forkphorus
	url = https://github.com/zakkolar/forkphorus.git
[submodule "static/sb-downloader"]
	path = static/sb-downloader
	url = https://github.com/zakkolar/sb-downloader.git
